@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarPos {
  top: 0;
}
.profile-active {
  @apply flex opacity-100 translate-x-0;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-[45deg];
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-[45deg];
}
.clip-path-profile-about {
  clip-path: polygon(0%0, 100%0, 100%90%, 0%90%);
}

.primary-section {
  @apply z-10 text-4xl md:text-5xl lg:text-6xl font-Ravi-Prakash text-center mb-6 drop-shadow-lg after:block after:content-[''] after:border-b-[2px] after:origin-top after:scale-x-[0.25];
}

.onscroll-navbar {
  @apply translate-x-0;
}

.mask-hero {
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

.bg-hero {
  background-image: url("../../src/img/home-bg.gif");
}

.text-shadow-stroke {
  text-shadow: 0 0 10px #4eebef, 0 0 20px #4eebef, 0 0 40px #4eebef,
    0 0 80px #4eebef;
}
